.activity {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.activity img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
}

.name-description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
} 

.properties {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 20px;
}


