.radio-row {
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 10px;
    width: 100%;
}

.radio-column {
    display: flex;
    align-items: self-start;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    text-align: left;
}